.table {
  width: 90vw;
  border-collapse: collapse;
  border-collapse: separate;
  border-spacing: 0 25px;
}
th {
  text-align: left;
  font-size: 16px;
  line-height: 19px;
  color: rgb(16, 97, 121);
}
.tableRow {
  height: 50px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
}
